:root{
    --top-bar-size:min(100px, 10vh, 10vw);
    --unimportant:1;
    --scroll-pad:20px;
    --side-bar-width:min(30vw, 500px);
    --unimportant-vis:visible;
}
.open-btn{
    position:fixed;
    top:0px;
    left:0px;
    height:var(--top-bar-size);
    width:var(--top-bar-size);
    background-color: red;
    cursor:pointer;
    font-weight:bold;
    transition-duration:500ms;
    transition-timing-function:ease;
    transition-property:color;
    transition-delay: 0s;
}
.unimportant{
    opacity: var(--unimportant);
    visibility: var(--unimportant-vis);
    transition-duration:500ms;
    transition-timing-function:ease;
    transition-property:opacity;
    transition-delay: 0s;
}
/*
side-bar will take up half the space if there is 

*/
#side-bar{
    position:fixed;
    /*should be hidden if the side-bar is closed*/
    top:var(--top-bar-size);
    width:min(20%, 400px);
    overflow-y:auto;
    height:calc(100% - var(--top-bar-size));
}
@media (max-width: 600px) {
    #side-bar{
        width:30%
    }
}
@media (max-width: 400px) {
    #side-bar{
        width:100%
    }
}
.side-task{
    /*side task is used for tasks that appear in the side-bar
    each one has a different background-color color and fonr-family
    */
    background-color:black;
    color:white;
    width:100%;
}
.side-task-time{
    border-top:5px;
    color:rgba(0,0,0,.3);
}
body{
    margin:0px;
}